* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.15;
}

body {
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: bisque;
  width: 100vw;
  padding: 0 1rem;
  align-items: center;
}

section {
  width: 95vw;
  margin: 1rem 0 0 0.5rem;
}

p,
ol {
  padding-bottom: 2rem;
}

ol {
  margin-left: 3rem;
}

h1 {
  margin: 2rem 1rem;
}

h2 {
  margin-bottom: 1rem;
}

h2:nth-of-type(2) {
  margin-top: 2rem;
}

ul {
  margin: 0 1rem;
  list-style: none;
}

textarea {
  width: 100%;
  height: 6rem;
  margin-bottom: 10px;
  resize: none;
}

button {
  background-color: bisque;
  font-size: 1rem;
  width: auto;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 1rem;
}

.output,
#history {
  overflow-y: auto;
}

.output {
  background-color: rgb(207, 241, 255);
  height: 6rem;
  width: 100%;
  border: 1px solid #000;
  padding: 1rem;
}

.copy-div {
  display: flex;
  align-items: center;
}

#copyNotification {
  font-style: italic;
  margin-left: 1rem;
}

span {
  font-weight: 500;
}

#history {
  max-height: 50vh;
  overflow-y: auto;
}

.spacer {
  background-color: bisque;
  width: 100vw;
  height: 2px;
}

@media (min-width: 1000px) {
  main {
    flex-direction: row;
    align-items: flex-start;
  }

  nav {
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: auto;
    margin-right: 2rem;
  }

  section {
    width: 40%;
    margin: 4rem 2rem 0 0;
  }

  section:nth-of-type(2) {
    margin-left: 2rem;
  }

  .spacer {
    background-color: bisque;
    height: 100vh;
    width: 2px;
  }
}
